<launch>
    <node pkg="a_star" type="a_star_demo" name="a_star_demo" args="--log_dir=." output="screen">
        <rosparam command="load" file="$(find a_star)/config/params.yaml"/>
    </node>
    
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find a_star)/config/rviz.rviz" output="screen" />
</launch>